<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CodeIgniter" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^(/eproc_pengadaan/index\.php|/eproc_pengadaan/assets|/eproc_pengadaan/lampiran|/eproc_pengadaan/temp_upload)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/eproc_pengadaan/index.php?/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="PHP-FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\tools\php74\php-cgi.exe" resourceType="File" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="67108864" />
            </requestFiltering>
        </security>
        <fastCgi>
            <application fullPath="C:\tools\php74\php-cgi.exe">
                <environmentVariables>
                    <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
                    <environmentVariable name="PHPRC" value="C:\tools\php74" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
    <system.web>
        <sessionState timeout="120" />
    </system.web>
</configuration>
