<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Static Assets: Serve directly without rewriting -->
                <rule name="Static Assets - CSS" stopProcessing="true">
                    <match url="^assets/css/(.*)$" />
                    <action type="None" />
                </rule>
                <rule name="Static Assets - JS" stopProcessing="true">
                    <match url="^assets/js/(.*)$" />
                    <action type="None" />
                </rule>
                <rule name="Static Assets - Images" stopProcessing="true">
                    <match url="^assets/images/(.*)$" />
                    <action type="None" />
                </rule>
                <rule name="Static Assets - Fonts" stopProcessing="true">
                    <match url="^assets/font/(.*)$" />
                    <action type="None" />
                </rule>
                <rule name="Static Assets - Styles" stopProcessing="true">
                    <match url="^assets/styles/(.*)$" />
                    <action type="None" />
                </rule>
                
                <!-- Block direct access to system directory -->
                <rule name="Block System Access" stopProcessing="true">
                    <match url="^system/(.*)$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                
                <!-- CodeIgniter Rewrite Rules -->
                <rule name="Remove index.php" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Static Content MIME Types -->
        <staticContent>
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        
        <!-- Directory Browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Default Document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- HTTP Protocol Headers -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Security Settings -->
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <!-- Allow up to ~110 MB for the entire request body -->
                <requestLimits maxAllowedContentLength="115000000" />
            </requestFiltering>
        </security>
        
        <!-- Caching for Static Assets (Optional - Improves Performance) -->
        <caching>
            <profiles>
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
